<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar itens</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Adicionar itens</h1>
        <form id="formProdutos">
          <label for="">Nome do produto</label>
          <input type="text" id="nomeDoProduto" />

          <label for="">Preço</label>
          <input type="number" id="precoDoProduto" step="0.01" />

          <label for="">quantidade</label>
          <input type="number" id="quantidade" />

          <button type="submit">Salvar</button>
        </form>
        <br />
        <button listarProdutos>Listar Produtos</button>
      </div>
    </main>

    <script src="../static/script.js "></script>
  </body>
</html>
