<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Listagem de produtos</title>
  </head>
  <body>
    <main>
      <div class="container">
        <h1>LISTAGEM DE PRODUTOS</h1>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Produto</th>
              <th>Preço</th>
              <th>Quantidade</th>
            </tr>
          </thead>
          <tbody listaProduto></tbody>
        </table>
        <button listarProdutos>Add novo item</button>
      </div>
    </main>

    <script src="../static/listar.js"></script>
  </body>
</html>
