<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Login</title>
  </head>
  <body class="tela-login">
    <main>
      <div class="login">
        <h1>Login</h1>
        <form id="formLogin">
          <input type="text" placeholder="Usuario..." id="login" />
          <input type="password" placeholder="Senhas" id="senha" />
          <button>Entrar</button>
        </form>
      </div>
    </main>

    <script type="module" src="../static/logar.js"></script>
  </body>
</html>
